html
  title Main page
  link(rel="stylesheet", href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css", integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO", crossorigin="anonymous")
body
  div.container
    form(method="post", action="/api/login")
      label(for="username") Login:
      input#username(type="text" name="username")
      label(for="password") Login:
      input#username(type="passwordv" name="password")
      button(type="submit") Login